.form {

    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;

}

@media(max-width: 750) {
    .form {
        grid-template-columns: 1fr;

    }
}

.form__input {
    
    padding: 5px;
    border: 1px solid #e8e8e8;

}

.form__button {

    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
}