
.taskList {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
}
.taskList__item--done {
    text-decoration: line-through;

}

.task__done {
    text-decoration: line-through;
}


.taskList__button--done {

    background-color: #008000;
    border: none;
    color: white;
    width: 30px;
    height: 30px;

}

.taskList__button--remove {

    background-color: #ff0000;
    border: none;
    color: white;
    width: 30px;
    height: 30px;

}

